<div class="new-link-form-container">
  <%= form_with(model: @link) do |form| %>
    <% if @link.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(@link.errors.count, "error") %> prohibited this link from being saved:</h2>

        <ul>
          <% @link.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div>
      <%= form.text_field :url, placeholder: "Enter URL here", class: "new-link-form-input" %>
    </div>

    <div>
      <%= form.submit "Create Link", class: "new-link-form-submit" %>
    </div>
  <% end %>
</div>
