<p style="color: green"><%= notice %></p>

<h1>curl.lol</h1>
<p> Click "New Link" to add a new URL. Then, copy the shortened url to use your new link!</p>

<% if current_user.nil? %>
  <%= link_to "Sign up", new_user_registration_path %> or 
  <%= link_to "log in", new_user_session_path %> to save links to your profile.
<% else %>
  You are signed in.
  <%= link_to "My Profile", user_profile_path %>
  <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
<% end %>

<% if current_user.nil? %>
  <div id="links">
    <% @links.each do |link| %>
      <div class="link-item">
        <div class="link-content">
          <h2 class="link-title">Id: <%= link.id %></h2>
          <p class="link-url">Url: <%= link.url %></p>
          <p class="link-short">Shortened: <%= link_to "#{root_url}" + "#{link.link_id}", "#{root_url}" + "#{link.link_id}" %></p>
          <p>Clicks: <%= link.click_count %></p>
        </div>
        <div class="link-action">
          <%= link_to "Show this link", link, class: "show-link-btn", id: "show-link-#{link.id}" %>
        </div>
      </div>
    <% end %>
<% end %>

<% if current_user&.role == "user" %>
  <div id="links">
    <% current_user.links.each do |link| %>
      <div class="link-item">
        <div class="link-content">
          <h2 class="link-title">Id: <%= link.id %></h2>
          <p class="link-url">Url: <%= link.url %></p>
          <p class="link-short">Shortened: <%= link_to "#{root_url}" + "#{link.link_id}", "#{root_url}" + "#{link.link_id}" %></p>
          <p>Clicks: <%= link.click_count %></p>
        </div>
        <div class="link-action">
          <%= link_to "Show this link", link, class: "show-link-btn", id: "show-link-#{link.id}" %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<% if current_user&.role == "admin" %>
  <div id="links">
    <% @links.each do |link| %>
      <div class="link-item">
        <div class="link-content">
          <h2 class="link-title">Id: <%= link.id %></h2>
          <p class="link-url">Url: <%= link.url %></p>
          <p class="link-short">Shortened: <%= link_to "#{root_url}" + "#{link.link_id}", "#{root_url}" + "#{link.link_id}" %></p>
          <p>Clicks: <%= link.click_count %></p>
        </div>
        <div class="link-action">
          <%= link_to "Show this link", link, class: "show-link-btn", id: "show-link-#{link.id}" %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<%= render 'form' %>
