<p style="color: green"><%= notice %></p>

<h1>curl.lol</h1>
<p class="center"> Click "Create Link" to add a new URL. Then, copy the Short url to use your new link!</p>
<div class="info">
  <% if current_user.nil? %>
    <%= link_to "Sign up", new_user_registration_path, class: "link-url" %> or 
    <%= link_to "log in", new_user_session_path, class: "link-url" %> to save links to your profile.
  <% else %>
    <%= link_to "My Profile", user_profile_path, class: "link-url" %>
    <%= button_to "Sign out", destroy_user_session_path, class: "sign-out-btn", method: :delete %>
  <% end %>
</div>

<div class="form-wrapper">
  <%= render 'form' %>
</div>

<% if current_user.nil? %>
  <div id="links">
    <% @links.each do |link| %>
      <div class="link-item">
        <div class="link-content">
          <p class="link-url">URL: <%= link_to link.url %></p>
          <p class="link-short">Short: <%= link_to "#{root_url}" + "#{link.link_id}", "#{root_url}" + "#{link.link_id}" %></p>
          <button class="copy-btn" data-clipboard-text="<%= "#{root_url}" + "#{link.link_id}" %>">Copy</button>
          <p>Clicks: <%= link.click_count %></p>
        </div>
        <div class="link-action">
          <%= link_to "Edit", link, class: "show-link-btn", id: "show-link-#{link.id}" %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<% if current_user&.role == "user" %>
  <div id="links">
    <% current_user.links.each do |link| %>
      <div class="link-item">
        <div class="link-content">
          <p>URL: <%= link_to link.url, class: "link-url" %></p>
          <p>Short: <%= link_to "#{root_url}" + "#{link.link_id}", "#{root_url}" + "#{link.link_id}", class: "link-url" %></p>
          <button class="copy-btn" data-clipboard-text="<%= "#{root_url}" + "#{link.link_id}" %>">Copy</button>
          <p>Clicks: <%= link.click_count %></p>
        </div>
        <div class="link-action">
          <%= link_to "Edit", link, class: "show-link-btn", id: "show-link-#{link.id}" %>
          <%= button_to "Delete", link_path(link), method: :delete, data: { confirm: "Are you sure?" }, class: "delete-link-btn" %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<% if current_user&.role == "admin" %>
  <div id="links">
    <% @links.each do |link| %>
      <div class="link-item">
        <div class="link-content">
          <p class="link-url">URL: <%= link_to link.url %></p>
          <p class="link-short link-url">Short: <%= link_to "#{root_url}" + "#{link.link_id}", "#{root_url}" + "#{link.link_id}" %></p>
          <button class="copy-btn" data-clipboard-text="<%= "#{root_url}" + "#{link.link_id}" %>">Copy</button>
          <p>Clicks: <%= link.click_count %></p>
        </div>
        <div class="link-action">
          <%= link_to "Edit", link, class: "show-link-btn", id: "show-link-#{link.id}" %>
          <%= link_to "Delete", link, method: :delete, data: { confirm: "Are you sure?" }, class: "delete-link-btn" %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<div class="pagination link-url">
  <%= paginate @links %>
</div>