<p style="color: green"><%= notice %></p>

<h1>curl.lol</h1>
<p class="center"> Click "Create Link" to add a new URL. Then, copy the Short url to use your new link!</p>
<div class="info">
  <% if current_user.nil? %>
    <%= link_to "Sign up", new_user_registration_path, class: "link-url" %> or 
    <%= link_to "log in", new_user_session_path, class: "link-url" %> to save links to your profile.
  <% else %>
    <%= link_to "My Profile", user_profile_path, class: "link-url" %>
    <%= button_to "Sign out", destroy_user_session_path, class: "sign-out-btn", method: :delete %>
  <% end %>
</div>

<div class="form-wrapper">
  <%= render 'form' %>
</div>

<% if current_user %>
  <%= link_to 'Export as CSV', export_to_csv_path, class: "btn" %>
<% end %>

<div id="links">
  <% @links.each do |link| %>
    <div class="link-item">
      <div class="link-content">
        <p class=>URL: <%= link_to "#{link.url}", link.url %></p>
        <p class=>Short: <%= link_to "#{root_url}" + "#{link.link_id}", "#{root_url}" + "#{link.link_id}" %></p>
        <p>Clicks: <%= link.click_count %></p>
      </div>
      <div class="link-action">
        <%= link_to "Edit", link, class: "show-link-btn", id: "show-link-#{link.id}" %>
        <button class="copy-btn" data-clipboard-text="<%= "#{root_url}" + "#{link.link_id}" %>">Copy</button>
        <% if current_user && (current_user.admin? || current_user.user?) %>
          <%= button_to "Delete", link_path(link), method: :delete, data: { confirm: "Are you sure?" }, class: "delete-link-btn" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<div class="pagination link-url">
  <%= paginate @links %>
</div>